#App {
  section {
    width: 100vw;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  a {
    text-decoration: none;
  }
  #baner {
    font-size: 0.95em;
    padding: 0.8em;
    font-weight: 400;
    background-color: #ffff;

    #pico {
      font-size: 0.8em;
    }
  }
  #header {
    margin: 5em 0 5em 0;

    #hb-txt {
      font-weight: bold;
      font-size: 2.85rem;
      color: #000;
    }
    #h-txt {
      font-size: 2.85rem;
      font-weight: 600;
      padding: 0 8.5% 0 5%;
      color: rgb(100, 100, 100);
      font-family: "Arial", sans-serif;
      line-height: 1.1;
    }

    #mens {
      justify-content: space-between;
      align-items: center;
      img {
        width: 2em;

        border-radius: 50%;
      }
      i {
        font-size: 1.6em;
      }
      a {
        padding-left: 11%;
        font-size: 0.95em;
      }
      span {
        font-size: 1em;
        padding-left: 3%;
        font-weight: 500;
        letter-spacing: -0.6px;
      }
      #pico {
        font-size: 0.8em;
      }
    }
  }
}

section {
  width: 100vw;
  padding: 0em 2em 0 3em;
}

@media screen and (max-width: 720px) {
  #baner {
    font-size: 0.9em;
  }
  #header {
    flex-direction: column;
    margin-top: 3em !important;

    #h-txt {
      font-size: 29px !important;

      width: 100vw !important;
    }
    #hb-txt {
      font-size: 29px !important;
    }
  }
  #mensaje {
    width: 100vw !important;
    padding: 2em 0em 0 0em;
  }
}
